// 
// 
// user.scss
//
// Place your own custom CSS or SCSS rules below this line, these rules will override any Bootstrap and theme variables.





.icon { height: 30px; }
.navbar-dark .navbar-nav .nav-link { color: white; }
.navbar-light .navbar-nav .nav-link { color: $primary; }
a:hover {
	color: $primary;
	opacity: 0.8;
};
.nao-essencialista-card,.essencialista-card {
	padding-top: 15px;
}
footer {
	padding-top: 4em;
	padding-bottom: 1em;
}
.logo {
	.icon {
		float: left;
		height: 50px;
		margin-right: 5px;
	}
	span {
	    top: 10px;
	    position: relative;
	    font-weight: bold;
	}
	small {
		color: $primary-3;
	    top: 15px;
	    position: relative;
	}
}